
body{
    background-color:rgb(2, 2, 3);
    font-family: popins,sans-serif;
    
}
.flex{
    display: flex;
   
}
.header h1{
    font-size: 48PX;
}
#container{
    padding: 40px 4%;
    box-shadow: 0 0 20px #ffffff78; /*make a shadow around the container */
    
}
#input{
    width: 800px;
    height: 25px;
    border-radius: 10px;
}
.header{
 text-align: center;
 margin-bottom: 50px;

}
.div{
    width: 300px;
    height: 500px;
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}
.img{
    width: 200px;
    height: 50px;
}
.color{
    color: white;
}

.container{
    justify-content: center;
    
}
.container-1{
    display: flex;
   justify-content: center;
   
    margin: 30px 0px;
}
.btn{
    color: #000000;
    border-radius: 28px;
    width: 90PX;
    height: 35PX;
}
.btn:hover{
    transform: scale(1.1);
    color: #161515;
    transition: .2s;
    
}
.video{
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    border-radius: 5px;
    border: 3px solid #FFF;
    object-fit: cover;
    
   
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: tra;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    
   
  }
  
  /* The Close Button */
  .close {

    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
    color: #FFF;
    font-weight: bolder;
    z-index: inherit;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(234, 205, 205);
    text-decoration: none;
    cursor: pointer;
  }
  @media (max-width:768px) {
    .close .video {
      width: 95%;
    }
  }